<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net45" requireReinstallation="true" />
  <package id="DynamoVisualProgramming.Core" version="2.1.0-beta6634" targetFramework="net471" />
  <package id="DynamoVisualProgramming.DynamoServices" version="2.1.0-beta6634" targetFramework="net471" />
  <package id="DynamoVisualProgramming.WpfUILibrary" version="2.1.0-beta6634" targetFramework="net471" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="2.1.0-beta6634" targetFramework="net471" />
  <package id="JetBrains.dotMemoryUnit" version="3.0.20171219.105559" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
  <package id="Prism" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Composition" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Interactivity" version="5.0.0" targetFramework="net45" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="net45" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="net45" />
</packages>